langchain-community
langgraph
langchain[openai]
langchain-core
tiktoken
fastapi
uvicorn
pydantic
python-dotenv
pyyaml
langcodes
python-box

sqlalchemy

python-telegram-bot

pylint
pre-commit
setuptools
-e ./